#main-container{
    max-width: 1520px;
    margin: 60px;
}
body{
    background-color: #6341DE;
}
#contene{
    padding: 60px;
    width: 1920;
    text-align: left;
    height: 900px;
    margin-top: 40px;
}
#bobo{
    bottom: 20%;
    right: 150px; 
    position: fixed;
    bottom: 10px;
}
#mo{
    display: flex;
    justify-content: flex-end;
}
.x{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
*{
    padding: 0px;
    margin: 0px;
}
.tow{
    font-family: sans-serif;
    font-size: 35px;
    position: relative;
    color: #FEFB36
}
.d-f-r{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}
#phone{
    padding-left: 50px
}
#wsp{
    padding-left: 50px
}
#email{
    padding-left: 50px
}
