img {
  max-width: 100%;
  height: auto;
}
#main-container{
    max-width: 1520px;
    margin: auto;
}
body{
    background-color: #18D1A3;
}
#conten{
    background-color: #18D1A3;
    width: 1920;
    text-align: center;
    height: 900px;
}
.arroz{
    height: 100vh ;
    width: 100% ;
    place-content: center;
}
.low{
    color: #FEFB36;
    font-family: sans-serif;
    font-size: 50px;
    position: relative
}

#bobo{
    bottom: 20%;
    right: 150px; 
    position: fixed;
    bottom: 10px;
}
#mo{
    display: flex;
    justify-content: flex-end;
}
.x{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.slider-wrapper{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/ 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
    height: 800px;
    width: 1100px;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background-color: white;
    opacity: .75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}